{% extends 'base.html.twig' %}

{% block title %}Tâches{% endblock %}

{% block body %}
    <h1>Liste des tâches</h1>

    <div class="row">
        {% for task in tasks %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ task.title }}</h5>
                        {# Affichage de la description de la tâche #}
                        <p class="card-text">
                            {{ task.description }}
                        </p>

                        <p class="card-text">
                            <strong>Statut :</strong>
                            {# Vérification du statut de la tâche et affichage du texte approprié #}
                            {% if task.status and task.status.name == 'STATUS_COMPLETED' %}
                                Terminée
                            {% elseif task.status and task.status.name == 'STATUS_PENDING' %}
                                En attente
                            {% elseif task.status and task.status.name == 'STATUS_IN_PROGRESS' %}
                                En cours
                            {% elseif task.status and task.status.name == 'STATUS_FAILED' %}
                                Échouée
                            {% else %}
                                {{ task.status ? task.status.name : 'Non défini' }}
                            {% endif %}
                        </p>

                        <p class="card-text">
                            <small class="text-muted">
                                    Créé le : {{ task.startAt ? task.startAt|date('j F Y') : 'Non disponible' }}
                            </small>
                        </p>

                        {# Afficher la date de fin seulement si elle n'est pas null #}
                        {% if task.endAt is not null %}
                            <p class="card-text">
                                <small class="text-muted">Terminée le : {{ task.endAt|date('j F Y') }}</small>
                            </p>
                        {% endif %}

                        <div class="d-flex justify-content-start">
                            <a href="{{ path('app_task_show', {'id': task.id}) }}" class="btn btn-primary btn-sm me-2">Voir</a>
                            <a href="{{ path('app_task_edit', {'id': task.id}) }}" class="btn btn-primary btn-sm me-2">Modifier</a>
                            {{ include('task/_delete_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-12">
                <p>Aucune tâche trouvée.</p>
            </div>
        {% endfor %}
    </div>

    <a href="{{ path('app_task_new') }}" class="btn btn-success mt-4">Créer une nouvelle tâche</a>
{% endblock %}
